<meta charset="UTF-8">

<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">

<title>{% if page.title %}{{ page.title }} - {{ site.title }} {% else %}{{ site.title }} - {{ site.tagline }}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
<meta name="author" content="{{ site.title }}">
<meta name="robots" content="index, follow">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="{{ site.url }}{% if page.cover-post %}/assets/images/posts/cover/{{ page.cover-post }}{% else %}/assets/images/{{ page.cover-page }}{% endif %}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:creator" content="@{{ site.social.username }}">

<!-- Open Graph -->
<meta property="fb:admins" content="100002402476460">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:type" content="blog">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:image" content="{{ site.url }}{% if page.cover-post %}/assets/images/posts/cover/{{ page.cover-post }}{% else %}/assets/images/{{ page.cover-page }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="article:author" content="{{ site.title }}">

<link rel="author" href="https://plus.google.com/{{ site.social.google_plus }}">

<!-- Social: Google+ / Schema.org  -->
<meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta itemprop="image" content="{{ site.url }}{% if page.cover-post %}/assets/images/posts/cover/{{ page.cover-post }}{% else %}/assets/images/{{ page.cover-page }}{% endif %}">

<meta name="google-site-verification" content="{{ site.google_verify }}">

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} feed">


{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="cleartype" content="on">


<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/icons/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/icons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/icons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ site.url }}/manifest.json">
<link rel="mask-icon" href="{{ site.url }}/assets/images/icons/safari-pinned-tab.svg" color="{{ site.theme_color }}">
<link rel="shortcut icon" href="{{ site.url }}/assets/images/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="victor">
<meta name="application-name" content="victor">
<meta name="msapplication-TileColor" content="{{ site.theme_color }}">
<meta name="msapplication-TileImage" content="{{ site.url }}/assets/images/icons/mstile-144x144.png">
<meta name="msapplication-config" content="{{ site.url }}/browserconfig.xml">
<meta name="theme-color" content="{{ site.theme_color }}">

<script async>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8061321299687333",
    enable_page_level_ads: true
  });
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Victor Martins",
  "jobTitle": "Desenvolvedor Front-End",
  "additionalName": "{{ site.username }}",
  "url": "{{ site.url }}",
  "address": {
    "@type": "60020100",
    "streetAddress": "Rua João Gentil, 800",
    "addressLocality": "Fortaleza",
    "addressRegion": "Ceará"
  }
}
</script>
