<meta charset="UTF-8">

<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/normalize.css">

<title>{% if page.title %}{{ page.title }} - {{ site.title }} {% else %}{{ site.title }} - {{ site.tagline }}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
<meta name="author" content="{{ site.title }}">
<meta name="robots" content="index, follow">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="{{ site.url }}{% if page.cover-post %}/assets/images/posts/cover/{{ page.cover-post }}{% else %}/assets/images/{{ page.cover-page }}{% endif %}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:creator" content="@{{ site.social.username }}">

<!-- Open Graph -->
<meta property="fb:admins" content="100002402476460">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:type" content="blog">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:image" content="{{ site.url }}{% if page.cover-post %}/assets/images/posts/cover/{{ page.cover-post }}{% else %}/assets/images/{{ page.cover-page }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="article:author" content="{{ site.title }}">

<link rel="author" href="https://plus.google.com/{{ site.social.google_plus }}">
<!-- Social: Google+ / Schema.org  -->
<meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta itemprop="image" content="{{ site.url }}{% if page.cover-post %}/assets/images/posts/cover/{{ page.cover-post }}{% else %}/assets/images/{{ page.cover-page }}{% endif %}">

<meta name="google-site-verification" content="{{ site.google_verify }}">

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} feed">


{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="cleartype" content="on">

<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8061321299687333",
    enable_page_level_ads: true
  });
</script>
