<!DOCTYPE html>
<html lang="en">
<head>
  {% include _head.html %}
</head>
<body class="page">
  <header class="header header-page">
    <div class="header-bg" style="background-image: url({{ site.url }}/assets/images/{{ page.cover }});"></div>
    {% include _navigation.html %}
    <h1 class="page-title">
      {{ page.title }}
    </h1>
  </header>

  <section class="container home clearfix" role="main">
    {{ content }}

    {% include _adsense.html %}
  </section>

  {% include _scripts.html %}
</body>
</html>
