<!DOCTYPE html>
<html lang="pt-br" manifest="/victor.appcache">
<head>
  {% include _head.html %}
</head>
<body class="{% if page.url == '/' %}page-front{% else %}page-inner{% endif %}">
  <header class="header header-page">
    {% include _navigation.html %}

    {% if page.url == '/' %}
    <h1 class="bio">
      {{ site.description }}
    </h1>
    {% else %}
    <h1 id="title" class="page-title">
      {{ page.title }}
    </h1>
    {% endif %}

    <a class="arrow" href="#main">
      <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 50.48 27.61" xml:space="preserve" width="50.48" height="27.61">
        <g transform="matrix(0,0.10158851,-0.10158851,0,49.475497,-10.434396)">
          <path d="m360.73 229.08-225.1-225.1c-5.3-5.3-13.8-5.3-19.1 0-5.3 5.3-5.3 13.8 0 19.1l215.5 215.5-215.5 215.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-4l225.1-225.1c5.3-5.2 5.3-13.8 0.1-19z"/>
        </g>
      </svg>
    </a>

    <div class="header-bg" style="background-image: url({{ site.url }}/assets/images/{{ page.cover-page }});"></div>
  </header>

  <main id="main" class="wrapper">
    <section class="container container-page clearfix" role="main">
      {{ content }}

      {% include _adsense.html %}
    </section>
  </main>

  {% include _scripts.html %}
</body>
</html>
